.heroContainer{
    margin-top: 10vh;
    background-color: transparent;
    display: inline-block;
}

.heroContainer img{
    height: 200px;
    width: 700px;
    display: block;
    border-radius: 100px;
}

.heroContainer img:hover{
    cursor: pointer;
    scale:0.9;
}

.imageDescription{
    display: flex;
    align-items: center;
    background-color: #cfd6c89e;
}

.heroContainer p{
    color: black;
    padding: 20px;
    line-height: 1.8;
}

.heroContainer p:hover{
    scale: 0.9;
    cursor: pointer;
}

#viewAll{
    text-align: center;
}

#viewAll button{
    border: none;
    background: none;
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
}

#viewAll button:hover{
    cursor: pointer;
    scale: 0.9;
}