/* Hero Section Styles */
.heroContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f7f7f7;
    min-height: 100vh; /* Ensures full screen height */
    background-image: url("../assets/herobackground.png");
  }
  
  /* Empty Div for Site Information */
  .heroContainer > div:first-child {
    text-align: center;
    margin-bottom: 40px; /* Adds space below the introductory section */
  }
  
  .heroContainer h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
  }
  
  .heroContainer p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px; /* Ensures the text doesn't stretch too wide */
    line-height: 1.5;
    margin: 0 auto;
  }

  .heroText {
    text-align: center;
    margin-bottom: 20px;
    background-color: #96bfcf;
    opacity: 0.8;
    border-radius: 20px;
      }
  
  .heroText h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #c9543a;
    margin-bottom: 15px;
  }
  
  .heroText p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    line-height: 3;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }