.navBar{
    display: flex;
    height: 10vh;
    background-color: #647060;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navBar div{
    padding: 10px;
    margin: 0 30px;
}

.navBar button{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.navBar button:hover{
    cursor: pointer;
    color: black;
}

.rightNav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}