.profileContainer{
    display: flex;
    flex-direction: column;
    margin: 10vh 10px;
}

.profileContainer h2{
    color: black;
}

/* Profile.css */

/* Container styling */
.profilePage {
    display: flex;
    min-height: 100vh;
  }
  
  /* Left Sidebar Styling */
  .leftSidebar {
    margin: 10vh 0px 0px 0px;
    width: 250px;
    background-color: #647060;
    padding: 20px;
    color: #ecf0f1;
  }
  
  .leftSidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .leftSidebar li {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .leftSidebar li:hover {
    background-color: #000000;
  }
  
  .leftSidebar li.active {
    background-color: #c9543a;
    color: #ffffff;
  }
  
  /* Profile Content Styling */
  .profileContent {
    margin-top: 10vh;
    flex-grow: 1;
    padding: 40px;
    background-color: #f4f4f4;
  }
  
  .profileContent h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .profileContent p {
    font-size: 18px;
    color: #333;
  }
  

  /* input fields */
  /* Container Styling */
.dataContainer {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

/* Header Styling */
.dataContainer h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Label Styling */
.dataContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

/* Input and Select Styling */
.dataContainer input, .dataContainer select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

/* Input Focus Styling */
.dataContainer input:focus, .dataContainer select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Disabled Input Styling */
.dataContainer input[disabled] {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

/* Button Styling */
.dataContainer button {
  width: 100%;
  padding: 12px;
  background-color: #647060;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dataContainer button:not(:disabled):hover {
  background-color: #c9543a;
}

.dataContainer button:not(:disabled):active {
  scale: 0.9;
}

.dataContainer button:disabled{
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 600px) {
  .dataContainer div {
      padding: 15px;
  }

  .dataContainer input,.dataContainer select, .dataContainer button {
      font-size: 14px;
  }
}
